.body {
  display: flex;
  flex: 1;
}

.namecard-container {
  padding: 4rem;
  display: flex;
  height: 20vh;
  width: 100vw;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom right,
    rgb(233, 226, 199),
    rgba(155, 129, 86, 0.936)
  );
  box-shadow: 0 5px 8px rgba(155, 129, 86, 0.936);
}

.namecard-links {
  color: black;
  cursor: pointer;
}

.namecard-links:hover {
  text-decoration-line: underline;
  transform: translateY(5px);
}
