:root {
  --curvybox-background: rgb(250, 169, 204);
}

.curvybox-container {
  display: flex;
  flex: 1;
  height: auto;
  width: 100%;
  margin: 20vh 0;
}

.curvybox__body {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  background-color: var(--curvybox-background);
  text-align: center;
  background-size: cover;
  background-position: center;
}

.curvybox__body::after,
.curvybox__body::before {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 150px;
  width: 120%;
  left: -10%;
  border-top-left-radius: 50%  40px;
  border-top-right-radius: 50% 40px;
  box-shadow: 0 -75px 0 0 var(--curvybox-background);
  z-index: 2;
}

.curvybox__body::after {
  top: -170px;
  transform: rotate(180deg);
}

.curvybox__body::before {
  bottom: -170px;
}

@media (max-width: 700px) {
  .curvybox__body::after {
    border-top-left-radius: 50% 30px;
    border-top-right-radius: 50% 30px;
  }
}
