.curvybox-container {
  display: flexbox;
  flex: 1;
  height: auto;
  width: 100%;
}

.curvybox__body {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #F66969;
}

.curvybox__body::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -170px;
    height: 150px;
    width: 100%;
    left: 0;
    border-top-left-radius: 50% 20px;
    border-top-right-radius: 50% 20px;
    box-shadow: 0 -75px 0 0 red;
}